/* styles.module.css */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4fdf8;
    /* Fundo claro verde */
}

.border {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    /* Limita a largura do formulário */
}


.invalid-feedback {
    color: #d9534f;
    /* Cor vermelha para feedback de erro */
}

.background-gradient {
    background: linear-gradient(135deg, #e0f2f1, #509150);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}