.container {
    background-color: #f8f9fa;
    /* Fundo claro */
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #007bff;
    /* Azul escuro */
}

.btn-primary {
    background-color: #28a745;
    /* Verde claro */
    border-color: #28a745;
}

.list-group-item {
    background-color: #fff;
    /* Branco */
}