.info-section, .gallery-section, .published-texts-section {
    margin: 20px 0;
}

.gallery, .texts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 20px); /* 3 cards por linha */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 1.2em;
    margin: 0;
}

.card-description {
    color: #555;
}
